<a href="https://colab.research.google.com/github/joshijo77/Python-ML-financial-analysis/blob/main/3_Python_101_Comparison%2C_Logical_Operators%2C_Conditional_Statements_Skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. COMPARISON OPERATORS

In [ ]:
# Comparison Operator output could be "True" or "False"
# Let's cover equal '==' comparison operator first
# It's simply a question: "Is stock_1_price equals stock_2_price or not?"
# "True" output means condition is satisfied 
# "False" output means Condition is not satisfied (condition is not true)

True

In [ ]:
# Greater than or equal operator '>='

True

In [ ]:
# Note that '==' is a comparison operator 
# Note that '=' is used for variable assignment (put 10 in stock_1_price)

10

In [ ]:
# Comparison operators work with strings as well

True

In [ ]:
# Both strings have to exactly match (lower case vs. upper case)

False

In [ ]:
# Not equal comparison operator '!='

False

**MINI CHALLENGE #1:**
- **Without executing the code cell, What will this code generate?**

```
stock_1_price = 15
stock_2_price = 10

print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price) 
```

In [ ]:
stock_1_price = 15
stock_2_price = 10
 
print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price)

False
True
True
False

# 2. LOGICAL OPERATORS

In [4]:
# For "and" logical operators, both arguments must be "True" in order for the output to be "True" 
# (Note that this is the only case in which the 'and' logical operator generates a True output)
# 1 and 1 = 1
True and True

True

In [5]:
# 0 and 1 = 0
False and True

False

In [6]:
# 0 and 0 = 0
False and False

False

In [7]:
# For "or" logical operators, if any one of the arguments is "True", the output will be "True" 
# 1 or 1 = 1
True or True

True

In [8]:
# 1 or 0 = 1
True or False

True

In [9]:
# 0 or 1 = 1
False or True

True

In [10]:
# 0 or 0 = 0 (Note that this is the only case in which the 'or' logical operator generates a False output)
False or False

False

In [12]:
 # True and False = False 
(10>3) and (9==3)

False

In [14]:
# True or False = True
(10>3) or (9==3)

True

**MINI CHALLENGE #2:**
- **Without executing the code cell, What will these two lines of code generate?**

```
print('FINANCE'!='FINANCE' and (10 > 3) and (20 == 20)) 
```

```
print('Finance'!='FINANCE' or (16 > 20) or (25 == 25)) 
```

In [16]:
print('FINANCE'!='FINANCE' and (10 > 3) and (20 == 20)) 
print('Finance'!='FINANCE' or (16 > 20) or (25 == 25))

False
True

**MINI CHALLENGE #3:**
- **Without executing the code cell, What will these two lines of code generate?**

```
a = 5
b = 3.5

print(a == b or a != b) 
print(a == b and a != b) 
```

In [17]:
a = 5
b = 3.5

print(a == b or a != b) 
print(a == b and a != b)

True
False

# 3. CONDITIONAL STATEMENTS

- A simple if-else statement is written in Python as follows:

```
if condition:
  statement #1
else:
  statement #2
```

- If the condition is true, execute the first indented statement
- if the condition is not true, then execute the else indented statements. 
- Note that Python uses indentation (whitespace) to indicate code sections and scope.

In [18]:
if 10>9:
  print('If condition is True')
else:
  print('If condition is False')

If condition is True

In [19]:
if 5==10:
  print('If condition is True')
else:
  print('If condition is False')

If condition is False

In [21]:
if 5==7:
  print('First condition is True')
elif 2==4:
  print('Second condition is True')
else:
  print('Third statement is True')

Third statement is True

In [22]:
if 5<7:
  print('First condition is True')
elif 2>4:
  print('Second condition is True')
else:
  print('Third statement is True')

First condition is True

In [24]:
# Let's take an input from the user and grant or deny access accordingly
name = input('Enter your name:')

if name == 'Ryan':
  print('Access granted')
else:
  print('Acccess Denied')

Enter your name:ryan
Acccess Denied

In [25]:
# Let's make the code more robust (case insensitive)
name = input('Enter your name:')

if name == 'Ryan' or name == 'RYAN' or name == 'ryan':
  print('Access granted')
else:
  print('Acccess Denied')

Enter your name:ryan
Access granted

**MINI CHALLENGE #4:**
- **Write a code that takes a number from the user and indicates if it's positive or negative**

In [30]:
num = int(input('Enter an integer:'))

if num > 0:
  print('The number is positive')
elif num <0:
  print('The number is negative')
else:
  print('The number is zero!')

Enter an integer:0
The number is zero!

**MINI CHALLENGE #5:**
- **Write a code that takes a number from the user and checks if the number is divisible by 3 but is not a multiple of 7**

In [31]:
x = int(input('Enter a number between 1 and 100 :'))

if x%3 ==0 and x%7 !=0:
 print('The number is divisible by 3 and not a multiple of 7')
else:
  print('The number is NOT divisible by 3 and not a multiple of 7')

Enter a number between 1 and 100 :5
The number is NOT divisible by 3 and not a multiple of 7

**MINI CHALLENGE #6:** 
- **Write a code that takes a number from the user and indicate if the number is even or odd**

In [32]:
num = int(input("Magic! Enter any nuber and I'll tell you if its Even or Odd: "))

if num%2 ==0:
  print('The number is EVEN!')
else:
  print('THe number is ODD!')

Magic! Enter any nuber and I'll tell you if its Even or Odd: 83784
The number is EVEN!

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:**
- **Without executing the code cell, What will this code generate?**

```
stock_1_price = 15
stock_2_price = 10

print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price) 
```

In [ ]:
stock_1_price = 15
stock_2_price = 10

print(stock_1_price == stock_2_price) 
print(stock_1_price != stock_2_price) 
print(stock_1_price > stock_2_price)
print(stock_1_price < stock_2_price)

False
True
True
False

**MINI CHALLENGE #2 SOLUTION:**
- **Without executing the code cell, What will these two lines of code generate?**

```
print( 'Finance'!='FINANCE' and (10 > 3) and (20 == 20)) 
```

```
print( 'Finance'!='FINANCE' or (16 > 20) or (25 == 25)) 
```

In [ ]:
# FALSE and TRUE and TRUE
print('FINANCE'!='FINANCE' and (10 > 3) and (20 == 20))

False

In [ ]:
# TRUE or FALSE or TRUE
print('Finance'!='FINANCE' or (16 > 20) or (25 == 25))

True

**MINI CHALLENGE #3 SOLUTION:**
- **Without executing the code cell, What will these two lines of code generate?**

```
a = 5
b = 3.5

print(a == b or a != b) 
print(a == b and a != b) 
```

In [ ]:
a = 5
b = 3.5

print(a == b or a != b) # False or True = True 
print(a == b and a != b) # False and True = False

True
False

**MINI CHALLENGE #4 SOLUTION:**
- **Write a code that takes a number from the user and indicates if it's positive or negative or zero**

In [ ]:
x = int(input("Please enter an integer: "))

if x < 0:
    print('Number is Negative')
elif x > 0:
    print('Number is Positive')
else:    
    print ('Number is zero')

Please enter an integer: 9
Number is Positive

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code that takes a number from the user and checks if the number is divisible by 3 but is not a multiple of 7**

In [ ]:
# Try 21

i = int(input("Enter a number between 1 and 100:"))

if (i % 3 == 0) and (i % 7 !=0):
    print("Number satisfies the requirement; The number is divisible by 3 and not multiple of 7")
else:
    print("The number does not satisfy the requirements")

Enter a number between 1 and 100:21
The number does not satisfy the requirements

**MINI CHALLENGE #6 SOLUTION:** 
- **Write a code that takes a number from the user and indicate if the number is even or odd**

In [ ]:
x = int(input("Please enter an integer from 1 to 1000: "))

if x % 2==0:
    print('Number is Even')
else:
    print('Number is odd')

Please enter an integer from 1 to 1000: 50
Number is Even